* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-accent-color: #f88500;
    --main-text-color: #333333;
    --main-dark-color: #202328;
    --main-deep-color: #171a1a;
    --main-dark-header-color: #6f7a8b;
    --secondary-dark-header-color: #59606c;
    --main-dark-div-color: #2d3038;
    --secondary-dark-div-color: #353941;
    --main-light-bg-color: #fafafa;
    --main-light-disabled-color: #e4e6e8;
    --main-light-div-color: #e7e7e8;
    --main-middle-gray-color: rgba(111, 122, 139, 0.75);
    --secondary-middle-gray-color: #818b9d;
    --main-text-light-color: #999999;
    --main-text-size: 14px;
    --main-font-family: "Raleway", Geneva, Verdana, sans-serif;
    --secondary-font-family: Roboto, Geneva, Verdana, sans-serif;
}

html {
    font-family: var(--main-font-family);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.logo {
    position: relative;
    padding-left: 22px;
    color: white;
}

.logo__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.logo__title {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo__text {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.9px;
    text-transform: none;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.header__container {
    padding: 40px 80px 27px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo .logo__icon {
    color: var(--main-accent-color);
}

.header__logo .logo__title {
    color: white;
}

.header__logo .logo__text {
    opacity: 0.45;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__bottom-line {
    margin: 0 auto;
    width: 92.5%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.header__social {
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 70px;
    background-color: rgba(196, 196, 196, 0.25);
}

.header__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header__menu-link {
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.header__menu-link:hover {
    background-color: rgba(196, 196, 196, 0.2);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.hero {
    background-color: var(--main-dark-color);
}

.hero__container {
    padding: 10px;
    height: 650px;
}

.hero__slider {
    height: 100%;
}

.hero__slide {
    border-radius: 10px;
    overflow: hidden;
}
.hero__slide-wrapper {
    position: relative;
}

.hero__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(150%);
}

.hero__slide-img-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    background-color: var(--main-dark-color);
}

.slider-control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero__slider-control {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 440px;
    height: 90px;
    background-color: var(--main-dark-color);
    border-top-left-radius: 10px;
    z-index: 1;
}

.slider-control__item {
    position: relative;
}

.slider-numbers {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--secondary-dark-header-color);
    font-family: var(--secondary-font-family);
    font-weight: 300;
}

.slider-numbers__current {
    font-size: 15px;
    color: var(--secondary-middle-gray-color);
}

.slider-numbers__divider {
    width: 1px;
    height: 28px;
    background-color: var(--secondary-dark-div-color);
}

.slider-numbers__total {
    font-size: 13px;
}

.slider-control__item:nth-child(2) {
    width: 180px;
    height: 5px;
}

.slider-control__item:nth-child(3) {
    width: 56px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

.slider-control__item > .swiper-scrollbar-horizontal {
    height: 5px;
    bottom: 0;
}

.slider-control__item > .swiper-button-prev,
.slider-control__item > .swiper-button-next {
    position: static;
    margin-top: 0;
    height: 15px;
    width: 8px;
    color: #818b9d;
}

.slider-control__item > .swiper-button-prev::after,
.slider-control__item > .swiper-button-next::after {
    font-size: 15px;
}

.slider-control__item > .swiper-button-disabled {
    color: #59606c;
    opacity: 1;
}
